<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- diary SQL -->
<mapper namespace="global.sesoc.project1.dao.UserMapper">

	<!-- 로그인 -->
	<select id="login" parameterType="HashMap" resultType="UVO">
		select * from userinfo where id = #{id} and password = #{password}
	</select>
	
	<!-- 가입 -->	
	<insert id="join" parameterType="UVO">
		insert into userinfo (id, password, name, country, region) values (#{id}, #{password}, #{name}, #{country}, #{region})
	</insert>

	<!-- 아이디 체크 -->
	<select id="getCustomer" parameterType="String" resultType="UVO">
		select * from userinfo where id = #{id}
	</select>
	
</mapper>